torch
matplotlib
seaborn
tqdm
wandb
transformers
scikit-learn
pandas
numpy
sentencepiece
shortuuid
tiktoken
vllm
openai
nltk
markdown-it-py
prompt-toolkit
datasets
sacrebleu
bert_score
hydra
omegaconf
llamafactory
accelerate
fastapi
gradio
httpx
pydantic
requests
rich
rouge
tokenizers
uvicorn
bitsandbytes
peft
langchain
deepspeed
tensorboard
scipy
termcolor
flask
flask_cors
sentence_transformers
backoff